*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(46, 6, 37);
}

/*----------------header-----------------*/

.header{
    position: relative;
    width: 100%;
    justify-content: space-between;
    display: flex;
    background-color:blueviolet;
    align-items: center;
    padding: 0 40px;
}
.logo{
    width:30%;
}
.logo h1{
    padding-top: 4px;
    font-size: 40px;
    color:chartreuse;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.menu ul{
    list-style-type: none;
    display:flex;
}
.menu ul li{
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
    padding: 1.3rem 1.5rem;
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.menu ul li :hover{
    background-color:chartreuse;
    color: black;
    transition: 0.5s;
}
#menu-btn{
    position: absolute;
    width: 50px;
    height: 50px;
    text-align: center;
    right: 30px;
    top: 13px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
    display: none;
}
#menu-btn img{
    width: 20px;
    margin: 15px 10px;
}

@media (max-width: 700px){
    .header{
        background-color: transparent;
        flex-direction: column;
        align-items: flex-start;
    }
    .header .logo h1{
        font-size: 30px;
        padding: 10px 0;
    }
    #menu-btn{
        display: flex;
        margin-top: -12px;
    }
    .menu{
       display: none;
       width: 100%;
    }   
    .menu ul{
        flex-direction: column;
        width: 100%;
    }
    .menu li{
        text-align: center;
    }
    .menu ul li a{
        padding: 1rem ;
    }
}
    

/*----------------content------------*/
.content{
   width: 100%;
   height: 90vh;
   background-color: rgb(7, 8, 8);
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.content .text{
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.content .text h1 span{
    color: rgb(230, 230, 33);
    animation: mahel 2s linear infinite;
}

.content img{
    margin-top: 90px;
    width: 400px;
  /*margin-left: 200px;*/
    border-radius: 10px;
}
.content h1{
    color:rgb(30, 255, 30);
    font-size: 80px;
 /* padding-top: 240px;
    padding-left: 150px;*/
}
@keyframes mahel{
    0%{
       color: #fff;
      }
    25%{
        color:rgb(234, 0, 255);
      } 
    40%{
        color:rgb(0, 132, 255);
      } 
    65%{
        color:rgb(255, 42, 0);
      }
    75%{
        color:rgb(251, 255, 0);
      }
    100%{
        color:rgb(140, 0, 255);
      }
}
@media (max-width: 700px) {
    .content .text{
        display: block;
    }
    .content h1{
        text-align: center;
        font-size: 35px;
        padding: 0;
        padding-top: 30px;
    }
    .content img{
      /*  position: absolute;*/
        width: 200px;
      /*  left: 0;
        transform: translateX(-80%);*/
        marign: 40px 10px;
    }
}

/*--------about me ------------*/
.kkk{
    background-color: rgb(23, 22, 20);
    min-height: 500px;
    position: relative;
}
.aboutme-body{
    display: flex;
    width: 100%;
    justify-content:space-around;
}
.aboutme-body .about-discri{
    width: 50%;
}
.aboutme-body .about-discri p{
    padding: 0 70px;
    font-size: 17px;
    text-align: justify;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(201, 194, 194);
}
.kkk h2{
      text-align: center;
      font-size: 30px;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: #fff;
      padding: 30px;
      padding-bottom: 50px;
}
.aboutme-body .bar{
    width: 50%;
    border-left: 2px rgb(22, 186, 47) solid ;
    padding-left: 50px;
}
.ppp{
    color: rgb(3, 146, 169);
    padding-left: 7px;
    font-family:Arial, Helvetica, sans-serif;
}
.progress{
    background:rgba(236, 236, 236);
    margin:10px;
    width:80%;
    height:20px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
/*---------------progress -----------*/

/*----------------- 1 -----------------*/
.progress-fill-1{
    width:67%;
    height: 100%;
    background: linear-gradient(to right top,#08c8bb, #c0b704);
}
.percentage{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 12px bold;
}
/*----------------- 2 -----------------*/
.progress-fill-2{
    width:55%;
    height: 100%;
    background: linear-gradient(to right top,#08c8bb, #c0b704);
}
.percentage{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 12px bold;
}
/*----------------- 3 -----------------*/
.progress-fill-3{
    width:45%;
    height: 100%;
    background: linear-gradient(to right top,#08c8bb, #c0b704);
}
.percentage{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 12px bold;
}

/*----------------- 4 -----------------*/
.progress-fill-4{
    width:63%;
    height: 100%;
    background: linear-gradient(to right top,#08c8bb, #c0b704);
}
.percentage{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 12px bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*----------- 5 --------------*/
.progress-fill-5{
    width:37%;
    height: 100%;
    background: linear-gradient(to right top,#08c8bb, #c0b704);
}
.percentage{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 12px bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media (max-width: 700px) {
    .aboutme-body{
        display: block;
    }
    .aboutme-body .about-discri{
        width: 100%;
    }
    .aboutme-body .about-discri p{
        padding: 0 20px;
        font-size: 14px;
        padding-bottom: 10px;
    }
    .kkk h2{
        font-size: 20px;
        padding: 20px;
    }
    .aboutme-body .bar{
        margin: 0 20px;
        width: 100%;
        padding-left: 2px;
        border: none;
    }
    .ppp{
        font-size: 12px;
    }
    .progress{
        margin: 0;
    }
}
/*---------------------------------------------------------------------------------------*/

/*---------Project------*/

#Project{
    background-color:black;
    width: 100%;
}
#Project h2{
   text-align: center;
   padding: 30px 0;
   font-size: 30px;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: #fff;
}
.branches{
    margin-top: 20px;
    width: 80%;
    display:flex;
    flex-wrap: wrap;
   /* margin-left: 150px;
    margin-bottom: 30px; */
    justify-content: space-between;
    margin: auto;
}
.branch{
   flex-basis: 23.33%;
   background-color:#fff;
 /*  margin-left: 20px;*/
   margin-bottom: 100px;
   padding: 20px;
   cursor: pointer;
   position: relative;
   transition: 0.5s;
   border-radius: 7px;
   text-align: center;
   font-family: sans-serif;
}
.branch img{
    width: 100%;
    border-radius: 7px;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5),#050096);
    opacity: 0;
    transition: 1s;
}
.branch:hover .overlay{
    opacity: 1;
}
.service-decs{
    width: 80%;
    position: absolute;
    top: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}
hr{
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}
.service-decs p{
    font-size: 14px;
    color:#fff;
    padding-bottom: 10px;
}
.service-decs h3{
    padding: 15px 10px;
    color: yellow;
}
.service-decs a{
    padding-top: 30px;
    text-decoration: none;
    color: rgb(0, 255, 34);
}
.branch:hover .service-decs{
    bottom: 40%;
    opacity: 1;
}
.branch:hover{
    top : -10px;
    transition: 0.5s;
}
@media (max-width: 700px) {
    .branches{
        display: inline-block;
        margin-left: 25px;
    }
    .branch{
        width: 100%;
        margin-left: 0;
        padding: 10px ;
        margin-top: 20px;
        margin-bottom: 5px;
    }
}

/*-----------------footer--------------------*/

.contact-us{
    color: #fff;
    font-size: 30px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 20px;
}
.footer{
    width: 80%;
    display: flex;
   /* background-color: blueviolet;*/
    height: 250px;
    margin-left: 150px ;
}
.logo-footer{
    width: 33.33%;
   /* background-color: burlywood;*/
   /* border: 2px white solid;*/
}
.contact-footer{
    width: 33.33%;
  /*  background-color: burlywood;*/
   /* border: 2px white solid;*/
}
.links-footer{
    width: 33.33%;
   /* background-color: burlywood;*/
 /*   border: 2px white solid;*/
}
.logo-footer h1{
    font-size: 40px;
    color:chartreuse;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 30px;
   /* padding-left: 70px;*/
    text-align: center;
}
.logo-footer img{
    width:100px;
    margin-left: 150px;
    margin-top: 20px;
    border-radius: 50%;
}
.contact-footer{
    padding: 20px;
    padding-top: 40px;
}
.contact-footer p{
    padding: 10px;
    padding-left: 30px;
    font-family:Arial, Helvetica, sans-serif;
    color:  white;
    font-size: 19px;
}
.contact-footer a{
    text-decoration: none;
    color: rgb(247, 170, 143);
    cursor: pointer;
}
.contact-footer a:hover{
    color: rgb(218, 61, 40);
}
.links-footer{
    margin-left: 20px;
    margin-top: 90px;
}
.links-footer img{
    width: 40px;
    margin: 20px;
}
@media (max-width: 700px) {
    .contact-us
    {
      padding: 15px 0;
      font-size: 20px;
    } 
    .footer{
        display: block;
        margin-left: 0;
    }
    .logo-footer{
        width: 100%;
    }
    .logo-footer h1{
        font-size: 30px;
        padding-left: 45px;
    }
    .contact-footer{
        width: 100%;
        padding: 15px 10px;
    }
    .contact-footer p{
        font-size: 14px;
    }
    .links-footer{
        width: 100%;
    }
    .logo-footer img{
        margin-left: 90px;
    }
    .links-footer{
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    .links-footer img{
        width: 30px;
        margin: 10px;
    }
}


